label {
    text-align: right;
    clear: both;
    float:left;
}
.input-field {
	float:right;
	width: 70%;
}

.react-timerange-picker {
	margin-Left: 100px;
	height: 50px;
}

.react-timerange-picker:focus {
	border: 2px solid purple;
}

.react-timerange-picker__inputGroup__input .react-timerange-picker__inputGroup__amPm {
	position: relative;
	float: left;
	height: 10px;
}

.react-date-picker__wrapper {
	margin-left: 65px;
}

.form-heading {
	margin-left: -57%;
}